<p>product works!</p>
<label for="">product name</label>
<input type="text" class="user-input" name="name" [(ngModel)]="product.name"><br/>
<label for="">product desc</label>
<input type="text" class="user-input" name="description" [(ngModel)]="product.description"><br/>
<button (click)="addProduct()">ADD</button>
<p *ngFor="let product of products">
  {{stringify(product)}}
  <button (click)="removeProduct(product.id)">Remove</button>
</p>